<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link
      rel="stylesheet"
      href="/etc.clientlibs/pichat/clientlibs/clientlib-shared.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>Chatbot Test (Pichat Cloud) 2</title>
  </head>
  <body>
    <div id="root">
      <h1>Chatbot Test</h1>
      <div id="chatbot-container">
        <pichat-chatbot popup-button-text="Webcomponent Popup Button Text"></pichat-chatbot>
        <script
          type="module"
          src="/etc.clientlibs/pichat/clientlibs/clientlib-chatbot.js"
        ></script>
      </div>
    </div>
  </body>
</html>
